---
type SiteConfig = {
  title: string;
  description: string;
  lang: string;
  ogLocale: string;
  date: {
    locale: string | string[] | undefined;
    options: Intl.DateTimeFormatOptions;
  };
  webmentions?: {
    link: string;
    pingback?: string;
  };
};

type SiteMeta = {
  title: string;
  description?: string;
  ogImage?: string | undefined;
  articleDate?: string | undefined;
};

type Props = SiteMeta;

const { title, description, ogImage, articleDate } = Astro.props;
const siteTitle = `${title}`;
const canonicalURL = new URL(Astro.url.pathname, "https://astro-homepage.netlify.app");
const socialImageURL = new URL(ogImage ? ogImage : "/ogp_main.png", canonicalURL).href;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<title>{siteTitle}</title>

{/* Icons / Favicon */}

{/* Meta tags */}
<meta content={siteTitle} name="title" />
<meta content={description} name="description" />

{/* Open Graph */}
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
<meta property="og:url" content={canonicalURL} />
<meta property="og:image" content={socialImageURL} />

{/* Twitter */}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
{description && <meta name="twitter:description" content={description} />}
<meta name="twitter:image" content={socialImageURL} />
